body{
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));
    user-select: none;
    border: 2px solid rgb(60, 255, 0);
    height: 100vh;
}

.memory-game{

    border: 2px solid blue;
    background: pink;

    justify-content: space-between;
    align-content: space-between; 

    display: flex;
    flex-wrap: wrap;
    margin: auto;

    width: 40%; 
    height:70%;

    /* gap: 10px; */

    border-radius: 15px;
    perspective: 1000px;
}

.memory-card{


    width: calc(31% - 20px);
    height: calc(23% - 20px);

    margin: 10px;

    border: 2px solid green;
    border-radius: 15px;
    background: palevioletred;


    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.2s;
}

.front-face,.back-face{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    height: 90%;
    width: 90%;
    backface-visibility: hidden;
}


.memory-card:active{
    transform: scale(.97);
    transition: transform 0.2s;
}

.memory-card.flip{
    transform: rotateY(180deg);
}

.front-face{
    transform: rotateY(180deg);
}


h1,h2{
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:rgba(255,0,0,1);
}

@media(max-width: 450px){

    .memory-game{
        width: 60%; 
        height:50%;
    }

}

